__pycache__/perlin2d.cpython-38.pyc
__pycache__/colors.cpython-38.pyc
Saved/Blizt
__pycache__/planet_generator.cpython-38.pyc
__pycache__/planet_generator.cpython-39.pyc
__pycache__/converter.cpython-38.pyc
planet_generator.py
__pycache__/converter.cpython-39.pyc
.gitignore
__pycache__/colors.cpython-39.pyc
__pycache__/colors.cpython-39.pyc
__pycache__/colors.cpython-39.pyc
__pycache__/colors.cpython-310.pyc
__pycache__/perlin2d.cpython-310.pyc
__pycache__/planet_generator.cpython-310.pyc
__pycache__/legend_creator.cpython-310.pyc
